body {
  margin: 1rem 0;
}

h1 {
  color: hsl(0, 0%, 35%);
}

.title {
  color: hsl(0, 0%, 35%);
}

.capacity {
  font-size: 15px;
}

.numberCircle {
  margin-top: 2px;
  margin-bottom: 30px;
  margin-left: 100px;
  margin-right: 20px;
  width: 200px;
  line-height: 200px;
  border-radius: 50%;
  text-align: center;
  padding-left: 15px;
  font-size: 80px;
  border: 2px solid #666;
  color: hsl(0, 0%, 30%);
}

.percent {
  font-size: 25px;
  line-height: 30px;
  color: hsl(0, 0%, 35%);
}

.updated {
  margin-left: 50px;
}

.panel {
  border-radius: 0.3rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.panel-blue {
  border: 1px solid #0087ff;
  background-color: #ddedff;
  color: #0087ff;
}

.panel-pink {
  border: 1px solid #f84f7f;
  background-color: #fad2e1;
  color: #f84f7f;
}

.panel-purple {
  border: 1px solid #7f51f4;
  background-color: #dfccff;
  color: #7f51f4;
}
